services:
  nginx:
    container_name: nginx
    platform: linux/arm64
    build:
      context: .
      dockerfile: nginx.local.dockerfile
    ports:
      - 8080:8080
      - 443:443
    volumes:
      - ./wordpress:/var/www/html:delegated
      - ./opt/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./opt/nginx/localwordpress.conf:/etc/nginx/conf.d/localwordpress.conf
      - ./bin/certs:/etc/nginx/certs/self-signed/
    depends_on:
      - wordpress
      - mariadb
    environment:
      VIRTUAL_HOST: hale.docker
      VIRTUAL_PORT: 443

  mariadb:
    container_name: mariadb
    platform: linux/arm64
    image: mariadb:10.11
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress
      SERVICE_NAME: mariadb
      SERVICE_TAGS: local
      VIRTUAL_HOST: mariadb.docker
    volumes:
      - database:/var/lib/mysql

  wordpress:
    container_name: wordpress
    platform: linux/arm64
    build:
      context: .
      dockerfile: wordpress.dockerfile
    volumes:
      - ./wordpress:/var/www/html:delegated
      - ./opt/php/php.ini:/usr/local/etc/php/conf.d/php.ini
    depends_on:
      - mariadb
    env_file:
      - .env
    environment:
      WORDPRESS_DB_HOST: mariadb:3306
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_DB_NAME: wordpress
      WORDPRESS_ADMIN_USER: admin
      WORDPRESS_ADMIN_PASSWORD: wordpress
      WORDPRESS_ADMIN_EMAIL: "wordpress@hale.docker"
      WP_ENVIRONMENT_TYPE: local
      S3_UPLOADS_USE_LOCAL: "true"
      S3_UPLOADS_USE_INSTANCE_PROFILE: "false"
      S3_UPLOADS_REGION: ""
      S3_UPLOADS_BUCKET: ""
      SERVER_NAME: "hale.docker"
      PHP_DSN: "" # Sentry constant (not used locally)
      WP_SENTRY_ENV: ""
      S3_UPLOADS_BUCKET_URL: ""
      ACF_PRO_LICENSE: ""

volumes:
  database:
    driver: local

