apiVersion: v1
kind: ConfigMap
metadata:
  name: hale-php-config-{{ .Release.Revision }}
  namespace: hale-platform-{{ .Values.configmap.envtype }}
data:
  wordpress-custom.ini: |-
    upload_max_filesize = 128M
    post_max_size = 128M
    max_execution_time = 300
    max_input_time = 300
    memory_limit = 256M
