apiVersion: v1
kind: ConfigMap
metadata:
  name: hale-php-config-{{ .Release.Revision }}
  namespace: hale-platform-{{ .Values.configmap.envtype }}
data:
  wordpress-custom.ini: |-
    upload_max_filesize = 400M
    post_max_size = 512M
    max_execution_time = 600
    max_input_time = 600
    memory_limit = 512M
